--
-- PostgreSQL database dump
--

\restrict mgpk3rVgKAMgNyk4klQNi4MRT8lFcHbAH4gE40MgH9yNJGi95IW3mazGwcdhQxk

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.workouts DROP CONSTRAINT IF EXISTS workouts_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.workout_logs DROP CONSTRAINT IF EXISTS workout_logs_workout_id_fkey;
ALTER TABLE IF EXISTS ONLY public.workout_exercises DROP CONSTRAINT IF EXISTS workout_exercises_workout_id_fkey;
ALTER TABLE IF EXISTS ONLY public.workout_exercises DROP CONSTRAINT IF EXISTS workout_exercises_exercise_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_equipment DROP CONSTRAINT IF EXISTS user_equipment_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_equipment DROP CONSTRAINT IF EXISTS user_equipment_equipment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.progress DROP CONSTRAINT IF EXISTS progress_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.exercise_sets DROP CONSTRAINT IF EXISTS exercise_sets_exercise_log_id_fkey;
ALTER TABLE IF EXISTS ONLY public.exercise_logs DROP CONSTRAINT IF EXISTS exercise_logs_workout_log_id_fkey;
ALTER TABLE IF EXISTS ONLY public.exercise_logs DROP CONSTRAINT IF EXISTS exercise_logs_exercise_id_fkey;
ALTER TABLE IF EXISTS ONLY public.workouts DROP CONSTRAINT IF EXISTS workouts_pkey;
ALTER TABLE IF EXISTS ONLY public.workout_logs DROP CONSTRAINT IF EXISTS workout_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.workout_exercises DROP CONSTRAINT IF EXISTS workout_exercises_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.user_equipment DROP CONSTRAINT IF EXISTS user_equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.progress DROP CONSTRAINT IF EXISTS progress_pkey;
ALTER TABLE IF EXISTS ONLY public.exercises DROP CONSTRAINT IF EXISTS exercises_pkey;
ALTER TABLE IF EXISTS ONLY public.exercise_sets DROP CONSTRAINT IF EXISTS exercise_sets_pkey;
ALTER TABLE IF EXISTS ONLY public.exercise_logs DROP CONSTRAINT IF EXISTS exercise_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.equipment DROP CONSTRAINT IF EXISTS equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.equipment DROP CONSTRAINT IF EXISTS equipment_name_key;
ALTER TABLE IF EXISTS public.exercise_sets ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.exercise_logs ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.equipment ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.workouts;
DROP TABLE IF EXISTS public.workout_logs;
DROP TABLE IF EXISTS public.workout_exercises;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_equipment;
DROP TABLE IF EXISTS public.progress;
DROP TABLE IF EXISTS public.exercises;
DROP SEQUENCE IF EXISTS public.exercise_sets_id_seq;
DROP TABLE IF EXISTS public.exercise_sets;
DROP SEQUENCE IF EXISTS public.exercise_logs_id_seq;
DROP TABLE IF EXISTS public.exercise_logs;
DROP SEQUENCE IF EXISTS public.equipment_id_seq;
DROP TABLE IF EXISTS public.equipment;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: equipment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment (
    id integer NOT NULL,
    name character varying(100)
);


--
-- Name: equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.equipment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: equipment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.equipment_id_seq OWNED BY public.equipment.id;


--
-- Name: exercise_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exercise_logs (
    id integer NOT NULL,
    workout_log_id uuid,
    exercise_id uuid,
    difficulty integer
);


--
-- Name: exercise_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.exercise_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: exercise_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.exercise_logs_id_seq OWNED BY public.exercise_logs.id;


--
-- Name: exercise_sets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exercise_sets (
    id integer NOT NULL,
    exercise_log_id integer,
    reps integer,
    weight double precision
);


--
-- Name: exercise_sets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.exercise_sets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: exercise_sets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.exercise_sets_id_seq OWNED BY public.exercise_sets.id;


--
-- Name: exercises; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exercises (
    id uuid NOT NULL,
    name character varying(200),
    muscle_group character varying(100),
    required_equipment character varying(100),
    difficulty_level character varying(50)
);


--
-- Name: progress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.progress (
    user_id uuid NOT NULL,
    total_volume double precision,
    workouts_completed integer,
    avg_difficulty double precision,
    modifier double precision
);


--
-- Name: user_equipment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_equipment (
    user_id uuid NOT NULL,
    equipment_id integer NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    age integer,
    height double precision,
    weight double precision,
    goal character varying(50),
    level character varying(50),
    frequency integer
);


--
-- Name: workout_exercises; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workout_exercises (
    workout_id uuid NOT NULL,
    exercise_id uuid NOT NULL,
    sets integer,
    reps integer,
    weight double precision,
    rest integer
);


--
-- Name: workout_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workout_logs (
    id uuid NOT NULL,
    workout_id uuid,
    user_id uuid,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: workouts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workouts (
    id uuid NOT NULL,
    user_id uuid,
    status character varying(50),
    created_at timestamp without time zone
);


--
-- Name: equipment id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment ALTER COLUMN id SET DEFAULT nextval('public.equipment_id_seq'::regclass);


--
-- Name: exercise_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_logs ALTER COLUMN id SET DEFAULT nextval('public.exercise_logs_id_seq'::regclass);


--
-- Name: exercise_sets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_sets ALTER COLUMN id SET DEFAULT nextval('public.exercise_sets_id_seq'::regclass);


--
-- Data for Name: equipment; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.equipment VALUES
	(1, 'barbell'),
	(2, 'dumbbell'),
	(3, 'pullup_bar'),
	(7, 'bodyweight'),
	(16, '');


--
-- Data for Name: exercise_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: exercise_sets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: progress; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.progress VALUES
	('0655cc46-c1a9-45f2-894b-49628ba5bc53', 0, 0, 0, 1),
	('a2be15bd-d8a9-469a-a7c0-0d9d24c0bc69', 0, 0, 0, 1),
	('4b8986c6-22c7-46b5-9262-e0f050a2d4f4', 0, 0, 0, 1),
	('59a4f379-8de6-4342-a409-92766002f312', 0, 0, 0, 1),
	('94f56b0b-4cd9-4a30-93ac-3f9d7ae83096', 0, 1, 4, 0.97),
	('11111111-1111-1111-1111-111111111111', 0, 12, 2.9166666666666665, 0.7830379904142021),
	('22222222-2222-2222-2222-222222222222', 450, 25, 5, 1);


--
-- Data for Name: user_equipment; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.user_equipment VALUES
	('0655cc46-c1a9-45f2-894b-49628ba5bc53', 7),
	('a2be15bd-d8a9-469a-a7c0-0d9d24c0bc69', 7),
	('4b8986c6-22c7-46b5-9262-e0f050a2d4f4', 7),
	('59a4f379-8de6-4342-a409-92766002f312', 7),
	('94f56b0b-4cd9-4a30-93ac-3f9d7ae83096', 7),
	('94f56b0b-4cd9-4a30-93ac-3f9d7ae83096', 2),
	('11111111-1111-1111-1111-111111111111', 1);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: workout_exercises; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: workout_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: workouts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: equipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.equipment_id_seq', 19, true);


--
-- Name: exercise_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.exercise_logs_id_seq', 149, true);


--
-- Name: exercise_sets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.exercise_sets_id_seq', 50, true);


--
-- Name: equipment equipment_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_name_key UNIQUE (name);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (id);


--
-- Name: exercise_logs exercise_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_logs
    ADD CONSTRAINT exercise_logs_pkey PRIMARY KEY (id);


--
-- Name: exercise_sets exercise_sets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_sets
    ADD CONSTRAINT exercise_sets_pkey PRIMARY KEY (id);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: progress progress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progress
    ADD CONSTRAINT progress_pkey PRIMARY KEY (user_id);


--
-- Name: user_equipment user_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_pkey PRIMARY KEY (user_id, equipment_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workout_exercises workout_exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_exercises
    ADD CONSTRAINT workout_exercises_pkey PRIMARY KEY (workout_id, exercise_id);


--
-- Name: workout_logs workout_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_pkey PRIMARY KEY (id);


--
-- Name: workouts workouts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_pkey PRIMARY KEY (id);


--
-- Name: exercise_logs exercise_logs_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_logs
    ADD CONSTRAINT exercise_logs_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id);


--
-- Name: exercise_logs exercise_logs_workout_log_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_logs
    ADD CONSTRAINT exercise_logs_workout_log_id_fkey FOREIGN KEY (workout_log_id) REFERENCES public.workout_logs(id);


--
-- Name: exercise_sets exercise_sets_exercise_log_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exercise_sets
    ADD CONSTRAINT exercise_sets_exercise_log_id_fkey FOREIGN KEY (exercise_log_id) REFERENCES public.exercise_logs(id);


--
-- Name: progress progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progress
    ADD CONSTRAINT progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_equipment user_equipment_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(id);


--
-- Name: user_equipment user_equipment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: workout_exercises workout_exercises_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_exercises
    ADD CONSTRAINT workout_exercises_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id);


--
-- Name: workout_exercises workout_exercises_workout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_exercises
    ADD CONSTRAINT workout_exercises_workout_id_fkey FOREIGN KEY (workout_id) REFERENCES public.workouts(id);


--
-- Name: workout_logs workout_logs_workout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_workout_id_fkey FOREIGN KEY (workout_id) REFERENCES public.workouts(id);


--
-- Name: workouts workouts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict mgpk3rVgKAMgNyk4klQNi4MRT8lFcHbAH4gE40MgH9yNJGi95IW3mazGwcdhQxk

